<!--<% provide(:title, 'All users') %>-->
<!--<h1>All users</h1>-->

<!--<%= will_paginate %>-->

<!--<ur class="users">-->
<!--  <% @users.each do |user| %>-->
<!--   <li>-->
<!--     <%= gravatar_for user, size: 50 %>-->
<!--     <%= link_to user.name, user %>-->
<!--   </li>-->
<!--   <% end %>-->
<!--</ur>-->

<!--<%= will_paginate %>-->


<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render @users %>
  <% end %>
</ul>

<%= will_paginate %>